@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bodyColor: "#272643";
}
body{
    background-color: var(--bodyColor);
}

@layer utilities {
    @variants responsive {
      /* Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
  
      .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    }
  }